.btn {
  margin-right: 4px;
  float: left;
  
}

h2 {
  margin-right: 5px;
}

.admin {
  position: absolute;
  left: 963px;
  float: right;
  margin-top:4px; 
}

nav {
  margin-top: 10px;
  border: solid rgb(145, 135, 135) 1px
}

.titre {
  margin-left: 3rem;
}

/* .card {
  margin-top: 5px;
} */
/* .mt-1 {
  margin-top: 135 !important;
} */
