{% extends 'base.html.twig' %}

{% block title %}
    Hello 
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/signup.css')}}">
{% endblock stylesheets %}

{% block body %}
  
  <body>

<div class="container">
<div class="form-row">
          
    <div class="form-group col-md-4">

        {{ form_start(form) }}

            {{ form_widget(form) }}

    <button class="btn btn-primary">Submit</button>

                {{ form_end(form) }}

</div>    
   </div>          

</body>

{% endblock body %}
